body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Catamaran', sans-serif;
}

h2 {
    color: rgb(253, 169, 141); 
    font-weight: bold;
}

header h2 {
    color: #CEC8FF;
}

footer {
    padding: 20px 0;
}

.navbar {
    padding: 30px;
    background-color:#ADEAEA;
    color: white
}

.name {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.title {
    color: white; 
    font-size: 20px;
}

.navbar-nav {
    color: white; 
    font-size: 25px;
}

.row-content {
    padding: 50px 0;           
    border-bottom: 1px ridge;
    min-height: 200px;
}

.fa-github {
    color: #31a1a5;
}

.fa-linkedin {
    color: #31a1a5;
}

.fa-twitter {
    color: #31a1a5;
}

.fa-youtube {
    color: #31a1a5;
}

.fa-phone {
    color: black; 
}

.fa-email {
    color: black; 
}

.contact {
    font-size: 25px;
}