body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Catamaran', sans-serif;
}

h2 {
    color: rgb(253, 169, 141); 
    font-weight: bold;
}

header h2 {
    color: #CEC8FF;
}

h3 {
    color: rgb(253, 169, 141); 
    font-weight: bold;
}

h4 {
    color: #007BFF;
    font-size: 23px;
    font-weight: bold;
}

.bio-text {
    font-size: 24px;
}

.site-footer{ 
    padding: 20px 0;
}

.navbar {
    padding: 30px;
    background-color:#ADEAEA;
    color: white
}

.name {
    color: white;
    font-weight: bold;
    font-size: 35px;
}

.title {
    color: #007BFF;
    font-size: 20px;
    font-weight: bold;
}

.name {
    color: #1f5fd6;
    font-size: 40px;
    font-weight: bold;  
}

.navbar-nav {
    color: white; 
    font-size: 25px;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px; 
    font-weight: bold;
}

.row-content {
    padding: 50px 0;           
    border-bottom: 1px ridge;
    min-height: 200px;
}

.fa-github {
    color: #31a1a5;
}

.fa-linkedin {
    color: #31a1a5;
}

.fa-twitter {
    color: #31a1a5;
}

.fa-youtube {
    color: #31a1a5;
}

.fa-email {
    color: black; 
}

.contact {
    font-size: 25px;
    color: #29868a;
}

.about-card {
    background-color: #eb82a8;
}

.upcoming-projects {
    font-size: 22px;
}

.card-body {
    font-size: 18px;
}