body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: 'Catamaran', sans-serif;
}

h2 {
    color: rgb(253, 169, 141); 
    font-weight: bold;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image: linear-gradient(#e1faf2, white);
    padding: 20px 0;
}

.jumbotron {
    padding: 30px;
    background-color:rgb(98, 182, 139);   
    color: white
}

.row-content {
    padding: 50px 0;           
    border-bottom: 1px ridge;
    min-height: 200px;
}